In [1]:
import sys
print(sys.version)

3.13.3 (tags/v3.13.3:6280bb5, Apr  8 2025, 14:47:33) [MSC v.1943 64 bit (AMD64)]

# importing MySQL connector

In [2]:
import mysql.connector;

# Connecting to MySQL server database ecommmerce having 4 tables

In [5]:
import mysql.connector

try:
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="dk123456",  # sahi password daalo
        database="ecommerce"
    )
    print("Connected successfully!")
    conn.close()
except mysql.connector.Error as err:
    print("Error:", err)
    cursor = conn.cursor()

Connected successfully!

# Inserting into ecom_customer table 1

In [13]:
import mysql.connector

try:
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="dk123456",
        database="ecommerce"
    )
    cursor = conn.cursor()

    query = "INSERT INTO ecom_customer (customer_id, name, email, city) VALUES (%s, %s, %s, %s)"
    values = (101, "Ravi Kumar", "ravi@example.com", "Delhi")
    cursor.execute(query, values)

    conn.commit()
    print(" Customer added successfully!")
    conn.close()

except mysql.connector.Error as err:
    print("Error:", err)

Error: 1062 (23000): Duplicate entry '101' for key 'ecom_customer.PRIMARY'

# Inserting multiple values into ecom_customer table 1

In [14]:
import mysql.connector;
try:
    
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="dk123456",
        database="ecommerce"
    )
    cursor = conn.cursor()
    query = "INSERT INTO ecom_customer(customer_id,name,email,city) values (%s,%s,%s,%s)"
    values =[
        (1, 'Amit Sharma', 'amit@example.com', 'Delhi'),
        (2, 'Neha Singh', 'neha@example.com', 'Mumbai'),
        (3, 'Rahul Verma', 'rahul@example.com', 'Bangalore')
    ]
    cursor.executemany(query,values)
    conn.commit()
    print("Multiple Customers  added successfully!")
    conn.close()
    
except mysql.connector.Error as err:
    print("Error :",err)

Error : 1062 (23000): Duplicate entry '1' for key 'ecom_customer.PRIMARY'

# Inserting into products table 2

In [16]:
try:
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="dk123456",
        database="ecommerce"
    )
    cursor = conn.cursor()

    query = """
    INSERT INTO products (product_id, product_name, price, stock)
    VALUES (%s, %s, %s, %s)
    """
    values = (201, "Bluetooth Speaker", 1499.99, 50)

    cursor.execute(query, values)
    conn.commit()

    print(" Product inserted successfully!")
    conn.close()

except mysql.connector.Error as err:
    print(" Error:", err)

 Product inserted successfully!

# Inserting into ecom_orders table 3

In [17]:
try:
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="dk123456",
        database="ecommerce"
    )
    cursor = conn.cursor()

    query = """
    INSERT INTO ecom_orders (order_id, customer_id, order_date)
    VALUES (%s, %s, %s)
    """
    values = (101, 1, '2025-05-20')  

    cursor.execute(query, values)
    conn.commit()

    print(" Order inserted successfully!")
    conn.close()

except mysql.connector.Error as err:
    print(" Error:", err)

 Order inserted successfully!

# Inserting into order_items table 4

In [20]:
try:
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="dk123456",
        database="ecommerce"
    )
    cursor = conn.cursor()

    query = """
    INSERT INTO order_items (order_item_id, order_id, product_id, quantity)
    VALUES (%s, %s, %s, %s)
    """
    values = [
        (1001, 101, 201, 2),  # order_item_id=1001, order=101, product=201, qty=2
        (1002, 101, 202, 1)   # order_item_id=1002, order=101, product=202, qty=1
    ]

    cursor.executemany(query, values)
    conn.commit()

    print(" Order items inserted successfully!")
    conn.close()

except mysql.connector.Error as err:
    print(" Error:", err)

 Order items inserted successfully!

# Inserting

In [19]:
try:
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="dk123456",
        database="ecommerce"
    )
    cursor = conn.cursor()

    query = """
    INSERT INTO products (product_id, product_name, price, stock)
    VALUES (%s, %s, %s, %s)
    """
    values = (202, "wireless mouse", 799.99, 100)

    cursor.execute(query, values)
    conn.commit()

    print(" Product inserted successfully!")
    conn.close()

except mysql.connector.Error as err:
    print(" Error:", err)

 Product inserted successfully!

# Inserting multiple values

In [21]:
import mysql.connector

try:
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="dk123456",    
        database="ecommerce"
    )
    cursor = conn.cursor()

    # Multiple products data
    products = [
        (203, 'Gaming Keyboard', 2999.99, 40),
        (204, 'USB-C Charger', 899.50, 150),
        (205, 'HD Webcam', 2499.00, 35),
        (206, 'Noise Cancelling Headphones', 5499.75, 20)
    ]

    query = "INSERT INTO products (product_id, product_name, price, stock) VALUES (%s, %s, %s, %s)"

    cursor.executemany(query, products)
    conn.commit()

    print("âœ… Multiple products inserted successfully!")

    cursor.close()
    conn.close()

except mysql.connector.Error as err:
    print("Error:", err)

âœ… Multiple products inserted successfully!

# Inserting multiple values

In [23]:
import mysql.connector

try:
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="dk123456",    
        database="ecommerce"
    )
    cursor = conn.cursor()

    orders = [
        (102, 1, '2025-05-20'),  
        (103, 2, '2025-05-21'),
        (104, 3, '2025-05-22')
    ]

    query = "INSERT INTO ecom_orders (order_id, customer_id, order_date) VALUES (%s, %s, %s)"
    cursor.executemany(query, orders)
    conn.commit()

    print("Multiple orders inserted successfully!")

    cursor.close()
    conn.close()

except mysql.connector.Error as err:
    print("Error:", err)

Multiple orders inserted successfully!

#inserting multiple values

In [25]:
import mysql.connector

try:
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="",    
        database="ecommerce"
    )
    cursor = conn.cursor()

    # Order items data - ensure order_id and product_id exist in parent tables
    order_items = [
        (1003, 102, 203, 1), 
        (1004, 102, 204, 2),
        (1005, 103, 205, 1),
        (1006, 104, 201, 3)
    ]

    query = "INSERT INTO order_items (order_item_id, order_id, product_id, quantity) VALUES (%s, %s, %s, %s)"
    cursor.executemany(query, order_items)
    conn.commit()

    print(" Multiple order items inserted successfully!")

    cursor.close()
    conn.close()

except mysql.connector.Error as err:
    print("Error:", err)

 Multiple order items inserted successfully!

# Fetching data from table 1

In [31]:
import mysql.connector;

try:
    conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="dk123456",
    database="ecommerce"
    )
    
    cursor = conn.cursor()
    query = "Select * from ecom_customer"
    cursor.execute(query)
    results = cursor.fetchall()
    
    for row in results:
        print(row)
    
    cursor.close()
    conn.close()
    
except mysql.connector.Error as err:
    print("Error :",err)

(1, 'Amit Sharma', 'amit@example.com', 'Delhi')
(2, 'Neha Singh', 'neha@example.com', 'Mumbai')
(3, 'Rahul Verma', 'rahul@example.com', 'Bangalore')
(101, 'Ravi Kumar', 'ravi@example.com', 'Delhi')

# Fetching data from table 2 products

In [32]:
import mysql.connector;

try:
    conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="dk123456",
    database="ecommerce"
    )
    
    cursor = conn.cursor()
    query = "Select * from products"
    cursor.execute(query)
    results = cursor.fetchall()
    
    for row in results:
        print(row)
    
    cursor.close()
    conn.close()
    
except mysql.connector.Error as err:
    print("Error :",err)

(201, 'Bluetooth Speaker', Decimal('1499.99'), 50)
(202, 'wireless mouse', Decimal('799.99'), 100)
(203, 'Gaming Keyboard', Decimal('2999.99'), 40)
(204, 'USB-C Charger', Decimal('899.50'), 150)
(205, 'HD Webcam', Decimal('2499.00'), 35)
(206, 'Noise Cancelling Headphones', Decimal('5499.75'), 20)

# Fetching data from table 3

In [33]:
import mysql.connector;

try:
    conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="dk123456",
    database="ecommerce"
    )
    
    cursor = conn.cursor()
    query = "Select * from ecom_orders"
    cursor.execute(query)
    results = cursor.fetchall()
    
    for row in results:
        print(row)
    
    cursor.close()
    conn.close()
    
except mysql.connector.Error as err:
    print("Error :",err)

(101, 1, datetime.date(2025, 5, 20))
(102, 1, datetime.date(2025, 5, 20))
(103, 2, datetime.date(2025, 5, 21))
(104, 3, datetime.date(2025, 5, 22))

# Fetching data from table 4

In [34]:
import mysql.connector;

try:
    conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="dk123456",
    database="ecommerce"
    )
    
    cursor = conn.cursor()
    query = "Select * from order_items"
    cursor.execute(query)
    results = cursor.fetchall()
    
    for row in results:
        print(row)
    
    cursor.close()
    conn.close()
    
except mysql.connector.Error as err:
    print("Error :",err)

(1001, 101, 201, 2)
(1002, 101, 202, 1)
(1003, 102, 203, 1)
(1004, 102, 204, 2)
(1005, 103, 205, 1)
(1006, 104, 201, 3)

# Fetching data from every table

In [36]:
import mysql.connector

try:
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="dk123456",   # apna password daalo
        database="ecommerce"
    )
    cursor = conn.cursor()

    tables = ['ecom_customer', 'products', 'ecom_orders', 'order_items']

    for table in tables:
        print(f"--- Data from {table} ---")
        cursor.execute(f"SELECT * FROM {table}")
        rows = cursor.fetchall()
        for row in rows:
            print(row)
        print("\n")

    cursor.close()
    conn.close()

except mysql.connector.Error as err:
    print("Error:", err)

--- Data from ecom_customer ---
(1, 'Amit Sharma', 'amit@example.com', 'Delhi')
(2, 'Neha Singh', 'neha@example.com', 'Mumbai')
(3, 'Rahul Verma', 'rahul@example.com', 'Bangalore')
(101, 'Ravi Kumar', 'ravi@example.com', 'Delhi')


--- Data from products ---
(201, 'Bluetooth Speaker', Decimal('1499.99'), 50)
(202, 'wireless mouse', Decimal('799.99'), 100)
(203, 'Gaming Keyboard', Decimal('2999.99'), 40)
(204, 'USB-C Charger', Decimal('899.50'), 150)
(205, 'HD Webcam', Decimal('2499.00'), 35)
(206, 'Noise Cancelling Headphones', Decimal('5499.75'), 20)


--- Data from ecom_orders ---
(101, 1, datetime.date(2025, 5, 20))
(102, 1, datetime.date(2025, 5, 20))
(103, 2, datetime.date(2025, 5, 21))
(104, 3, datetime.date(2025, 5, 22))


--- Data from order_items ---
(1001, 101, 201, 2)
(1002, 101, 202, 1)
(1003, 102, 203, 1)
(1004, 102, 204, 2)
(1005, 103, 205, 1)
(1006, 104, 201, 3)

In [42]:
import mysql.connector

try:
    # MySQL connection
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="dk123456",           
        database="ecommerce"          
    )
    cursor = conn.cursor()
   
    cursor.execute("SELECT * FROM ecom_customer")
    rows = cursor.fetchmany(2)  #  2 rows
    for row in rows:
        print(row)

    cursor.close()
    conn.close()
    print("\n Fetched 2 rows from  table successfully!")

except mysql.connector.Error as err:
    print(" Error:", err)

(1, 'Amit Sharma', 'amit@example.com', 'Delhi')
(2, 'Neha Singh', 'neha@example.com', 'Mumbai')
 Error: Unread result found

In [43]:
import sys
print(sys.version)

3.13.3 (tags/v3.13.3:6280bb5, Apr  8 2025, 14:47:33) [MSC v.1943 64 bit (AMD64)]

## CRUD Menu for product table

In [44]:
import mysql.connector;

In [ ]:
from rich.console import Console

console = Console()
console.print("\n===========================\n", style="cyan bold")
console.print("CRUD Menu for Product table\n", style="red bold")
console.print("============================\n", style="cyan bold")




def make_conn_mysql():
    return mysql.connector.connect(
    host="localhost",
    user="root",
    password="dk123456",
    database="ecommerce"
    )

def insert_product(product_id,product_name,price,stock):
    try:
        conn = make_conn_mysql()
        cursor = conn.cursor()
        query = "INSERT INTO products(product_id,product_name,price,stock) value(%s,%s,%s,%s)"
        values=(product_id,product_name,price,stock)
        
        cusor.execute(query,data)
        conn.commit()
        
        print("Succesfully entered data\n")
        
    except mysql.connector.Error as err:
        print("Error :",err)
    
    finally:
        cursor.close()
        conn.close()
        
def read_products():
    try:
        conn = make_conn_mysql()
        cursor = conn.cursor()
        query = "select * from products"
        cursor.execute(query)
        results = cursor.fetchall()
        
        for row in results:
            print(row)
            
    except mysql.connector.Error as err:
        print("Error :",err)
        
    finally:
        cursor.close()
        conn.close()
        
def update_product_price(product_id,new_price):
    try:
        conn = make_conn_mysql()
        cursor = conn.cursor()
        query = "Update products SET price = %s where product_id = %s"
        values(new_price,product_id)
        
        cursor.execute(query,values)
        conn.commit()
        
    except  mysql.connector.Error as err:
        print("Error :",err)
    
    finally:
        cursor.close()
        conn.close()
        
        
def delete_products(product_id):
    try:
        conn = make_conn_mysql()
        cursor = conn.cursor()
        
        query = "DELETE from products where product_id = %s"
        value = (product_id)
        
        cursor.execute(query,value)
        conn.commit()
        
    except  mysql.connector.Error as err:
        print("Error :",err)
    
    finally:
        cursor.close()
        conn.close()
        
        
def menu():
    while True:
        
        print("\n=======================\n")
        print("Product Management Menu\n")
        print("=======================\n\n")
        print("1.Insert values in products table\n ")
        print("2.View value in products\n")
        print("3.update value in products\n")
        print("4.delete value from products\n")
        print("5.Exit\n")
        
        
        choice = input("Enter choice 1-5 \n")
        
        if choice == '1':
            pid = int(input("Enter product ID\n"))
            name = input("Enter name\n")
            price = float(input("Enter price \n"))
            stock = int(input("Enter stock\n"))
            insert_product(pid,name,price,stock)
            
        elif choice == '2':
            read_products()
            
        elif choice == '3':
            pid = int(input("Enter product ID for which price is to be updated\n"))
            price = float(input("Enter price to be updated \n"))
            update_product_price(pid,price)
        
        elif choice == '4':
            pid = int(input("Enter Product ID to delete: "))
            delete_products(pid)
        
        elif choice == '5':
            print("Existing \n")
            break
            
        else:
            print("Invalid choice\n")
            
menu()

===========================

CRUD Menu for Product table

============================

=======================

Product Management Menu

=======================


1.Insert values in products table

2.View value in products

3.update value in products

4.delete value from products

5.Exit